.gallery-wrapper {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}

.image-link {
	padding: 0;
	margin: 0;
	display: inherit;
	width: 49.999%;
}

.gallery-image {
	width: 100%;
}

.gallery-image:hover {
	cursor: pointer;
	opacity: 0.95;
}

@media only screen and (max-width: 1025px) {
	.image-link {
		width: 100%;
	}
}
