.gallery-wrapper {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}
.gallery-description {
	background-color: rgba(2, 147, 130);
	padding: 25px;
	font-weight: bolder;
	font-size: larger;
	text-align: center;
	width: 100%;
	color: white;
	z-index: 2;
}

.image-link {
	padding: 0;
	margin: 0;
	display: inherit;
	width: 100vw;
	margin: 300px 0px;
}

.gallery-image {
	width: 80%;
	margin: auto;
	transform: translateZ(-1px) scale(1.5);
}

.gallery-image:hover {
	cursor: pointer;
	opacity: 0.95;
}

@media only screen and (max-width: 1025px) {
	.gallery-image {
		width: 100%;
	}
}
