.resume-wrapper {
	padding: 100px 0px;
	background: #ebf8ff;
}

.resume-wrapper > div {
	width: 75%;
	margin: auto;
}

.resume-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.resume-header > div {
	padding: 15px 0px;
}

.resume-description {
	padding: 15px 0px;
}

.pic-wrapper > img {
	border-radius: 50%;
	height: 30vw;
	max-height: 170px;
}

.resume-text {
	text-align: center;
}

.social-links-container {
	padding: 15px 0px;
}

.social-links-container a > img {
	height: 40px;
	padding: 0px 10px;
}

.social-links-container a > img:hover {
	opacity: 0.7;
	cursor: pointer;
}

.cv-wrapper {
	padding: 15px 0px;
}

.cv-item {
	padding-top: 30px;
}

.cv-item-description {
	padding-top: 10px;
}
